    <section id="venue">
      <article>
        <div class="columns large-12">
          <h2>The Venue</h2>
          <div class="columns large-6">
            <img src="assets/images/disney.jpg" alt="National Harbor" />
          </div>
          <div class="columns large-6">
            <div class="address">
              <h3><a href="http://www.mydisneymeetings.com/2014dwblc/" target="_blank">Disney's Grand Floridian Resort &amp; Spa</a></h3>
              <h4>{{ site.contact.address }}</h4>
              <h4>Phone: (407) 939-4686 </h4>
              <p>The flagship of Walt Disney World® convention hotels, Disney's Grand Floridian Resort &amp; Spa immerses guests in a world of Victorian charm and stately elegance. From its distinctive lobby to the ultimate in five-diamond dining, your guests will find a level of luxury matched only by the best resorts on earth.</p>
              <p><strong>Transportation:</strong> For information on transportation to and from the event, please visit the <a href="http://www.disneyconventiontickets.com/disneyworld/transportation/" target="_blank">following link</a></p>
              <p>Conference rate <strong>$199 + tax</strong> per night.</p>
            </div>
          </div>
          <div id="map_canvas"></div>
        </div>
      </article>
    </section>
