    <section id="venue">
      <article>
        <div class="columns large-12">
          <h2>The Venue</h2>
          <p>A beautiful location close to the nation's capital</p>
          <div class="columns large-6">
            <img src="assets/images/nationalharbor.jpg" alt="National Harbor" />
          </div>
          <div class="columns large-6">
            <div class="address">
              <h3><a href="http://www.marriott.com/hotels/travel/wasgn-gaylord-national-resort-and-convention-center/" target="_blank">Gaylord National Resort &amp; Convention Center</a></h3>
              <h4>{{ site.contact.address }}</h4>
              <h4>Phone: (301) 965-4000 </h4>
              <p><strong>Transportation: </strong> The Gaylord is located 12 miles from Reagan National Airport and is not accessible by metro. <a href="http://www.marriott.com/hotel-info/wasgn-gaylord-national-resort-and-convention-center/gaylord-national-entertainment/fr8e90c/transportation.mi" target="_blank">Click here is a list of transportation options to the hotel.</a></p>
              <p>Conference rate <strong>$219</strong> per night.</p>
              <p>Hotel cancellations made within 72 hours of arrival will forfeit one night’s room and tax. All other Hotel booking information is provided upon receipt of your conference registration.</p>
            </div>
          </div>
          <div id="map_canvas"></div>
        </div>
      </article>
    </section>